body {
  
  background: white;
  margin: 0;
  padding: 40px;
  
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 15px grey;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(50px);
}

.card img {
  width: 100%;
  height: 200px;
  
 
}

.card-content {
  padding: 20px;
}

.tag {
  display: inline-block;
  background: #dacfcf;
  color: #e24141;
  font-size: 13px;
  padding: 3px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-content h2 {
  color: #e60000;
  margin: 5px 0;
  font-size: 20px;
}

.card-content p {
  font-size: 14px;
  color: #450d0d;
  margin-bottom: 10px;
}

.card-content ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.card-content button {
  background: navy;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.card-content button:hover {
  background: #333;
}